<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
</head>
<body>
  <h1>Admin Panel</h1>
  
  <form action="/update" method="post">
    <input type="text" name="word" placeholder="New Word" required><br><br>
    <input type="submit" value="Update Word">
  </form>
</body>
</html>